<h1> <%=@department.name%>:<%= @item.name %> - $<%= @item.price %></h1>
<p><%= @item.description %></p>
<%= link_to 'Edit item', edit_department_item_path([@department, @item]) %>
<%= link_to 'Remove item', [@department, @item], method: :delete %>
